<!doctype html>
<html>
    <head>
        <title>Course-work</title>
        <script src='/public/assets/js/bundle.js'></script>
    </head>

    <body>
       <h1>hello</h1>
       <form action="/admin/addtrainer" method="POST">
         <input type="text" name="name" />
         <button type="submit" name="sendinfo">Отправить</button>
       </form>
    </body>
</html>