.content {
    width: 95%;
    padding: 20px;
    overflow: auto;
}

.content--visitor_table{
    min-width: 1280px;
}

.list-item {
    width: 100%;
    min-height: 20px;
    display: flex;
    border-bottom: 1px solid black;
}

.list-item--name {
    background-color: #e0e0e3;
}

.list-item__col {
    min-height: 20px;
    width: 21.5%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.list-item__col + .list-item__col {
    border-left: 1px solid black;
}

.list-item__col--mini {
    width: 5%;
}

.btn {
    margin-top: 20px;
}

.icn_link{
    width: 16px;
    height: 17px;
}

.icn_link--trash{
    background-image: url("/public/static/images/icn_trash.png");
    margin-left: 8px;
}

.icn_link--edit{
    background-image: url("/public/static/images/icn_edit.png");
}