.content {
    width: 95%;
    padding: 20px;
    overflow: auto;
}

.content--visitor_table{
    min-width: 1280px;
}

.list-item {
    width: 100%;
    min-height: 20px;
    display: flex;
    border-bottom: 1px solid black;
}

.list-item--name {
    background-color: #e0e0e3;
}

.list-item__col {
    min-height: 20px;
    width: 21.5%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.list-item__col + .list-item__col {
    border-left: 1px solid black;
}

.list-item__col--mini {
    width: 5%;
}

.btn {
    margin-top: 20px;
}

.icn_link{
    min-width: 16px;
    height: 17px;
}

.icn_link--trash{
    background-image: url("/public/static/images/icn_trash.png");
    margin-left: 8px;
    height: 14px;
}

.icn_link--edit{
    background-image: url("/public/static/images/icn_edit.png");
}

fieldset input[type=password] {
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    height: 20px;
    color: #666666;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

.rollback_edit{
    margin-left: 15px;
}

.link_user_event{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #9BA0AF;
}