aside#sidebar.column
		//- form.quick_search
		//- 	input(type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;")
		//- hr
		h3 Личные данные
		ul.toggle
			li.icn_profile
				a(href='/profile') Ваш профиль
			li.icn_edit_article
				a(href="/profile/edit") Изменить профиль
		h3 Секции
		ul.toggle
			li.icn_categories
				a(href="/profile/sections") Посещаемые секции
			li.icn_categories
				a(href="/section/all") Все секции
		h3 Мероприятия
		ul.toggle
			li.icn_categories
				a(href="/profile/events") Запланированные к посещению
			li.icn_categories
				a(href="/event/all") Все мероприятия
		h3 Тренера
		ul.toggle
			li.icn_view_users
				a(href="/trainer/all") Список тренеров
		footer
			hr
			p
				strong Copyright &copy; 2017 Lebedev Alex
		footer