aside#sidebar.column
		//- form.quick_search
		//- 	input(type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;")
		//- hr
		h3 Личные данные
		ul.toggle
			li.icn_profile
				a(href='/profile') Ваш профиль
			li.icn_edit_article
				a(href="/profile/edit") Изменить профиль
		h3 Пользователи
		ul.toggle
			li.icn_add_user
				a(href="/admin/users/add_new/") Добавить нового пользователя
			li.icn_view_users
				a(href="/admin/users/view/") Список пользователей
		footer
			hr
			p
				strong Copyright &copy; 2017 Lebedev Alex
		footer
